

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dark {
    background: #212121;
}



/* Not sure why my bootstrap footer wasn't working. Made my own. - John*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-footer {
    height: 25px;
    width: auto;
}

.container-small {
    width: 50%;
    margin: 1rem auto 1rem auto;
}

/* Grid button */
.button-square {
    width: 7rem;
    height: 7rem;
    background: none;
    border-radius: 5px;
    color: dimgrey;
    font-weight: 1000;
    font-size: 1.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding-bottom: 2rem;
}

.button-square:hover {
    border: 2px solid green;
}

/*Custom Canvas tag from https://stackoverflow.com/questions/29911143/how-can-i-animate-the-drawing-of-text-on-a-web-page*/
canvas {
    width: 100%;
}

.hidden {
    opacity: 0;
}



.custom-flex-row {
    display: flex;
    color: #258cfb;
    flex-wrap: wrap;
    width: 425px;
    min-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

.custom-flex-row-og {
    display: flex;
    color: #258cfb;
}

@media (max-width: 768px) {
    .custom-flex-row {
        width: 325px;
        min-width: 325px;
    }
}

/* Media query for even smaller screens */
/*@media (max-width: 480px) {
    .custom-flex-row {
        width: 300px;
        min-width: 300px;
    }
}*/