@*
/*
* John Moreau
* CSS233
* 12/3/2023
*/
*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="alert alert-success">
        Hello
    </div>
    hi
</div>
