@*
/*
* John Moreau
* CSS233
* 12/3/2023
*/
*@

@{
    ViewData["Title"] = "Tic Tac Toe";
}

<div class="container text-center">
    <div class="alert alert-success mt-4">
        O Wins!
    </div>
    <div class="container-small ">
        <div>
            New Game
        </div>
        <div>
            <div class="custom-flex-row justify-content-center">
                <div class="">
                    <button onclick="drawLetter('1-1', 'O', 4, '#306644')" class="button-square">
                        <canvas id="1-1" width="100" height="100">Hello</canvas>
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
            <div class="custom-flex-row justify-content-center">
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
            <div class="custom-flex-row justify-content-center">
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
