@*
/*
* John Moreau
* CSS233
* 12/3/2023
*/
*@

@{
    ViewData["Title"] = "Tic Tac Toe";
}
@model TicTacToe;

<div class="container text-center">
    <div class="alert alert-success mt-4">
        O Wins!
    </div>
    <div class="container">
        <div>
            New Game
        </div>
        <div>
            <form asp-action="Update" method="post">
                <div class="custom-flex-row justify-content-center">
                    @foreach (string Id in Model.Ids)
                    {
                        <div class="custom-flex-item">
                            <button type="submit" value="" onclick="drawLetter('1-1', 'O', 4, '#306644')" class="button-square">
                                <canvas id="1-1" width="100" height="100">Hello</canvas>
                            </button>
                        </div>
                    }
                </div>
            </form>
        </div>
        Testing ---
        <div>
            <div class="custom-flex-row-og justify-content-center">
                <div class="">
                    <button onclick="drawLetter('1-1', 'O', 4, '#306644')" class="button-square">
                        <canvas id="1-1" width="100" height="100">Hello</canvas>
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
            <div class="custom-flex-row justify-content-center">
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
            <div class="custom-flex-row justify-content-center">
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
                <div class="">
                    <button class="button-square">
                        Hello
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
