@*
/*
* John Moreau
* CSS233
* 12/3/2023
*/
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSS233_M9_PigGame_JohnMoreau</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSS233_M9_PigGame_JohnMoreau.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-info py-4 text-white text-center container">
        <h1>Tic Tac Toe</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ml-auto">
        <div class="container text-center">
            &copy;John Moreau | CSS233 | 12/3/23 |
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
