@*
/*
* John Moreau
* CSS233
* 12/3/2023
*/
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSS233_ASPnet_TicTacToe_JohnMoreau.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark py-4 text-white text-center container">
        <h1>Tic Tac Toe</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center text-muted">
            &copy;John Moreau | CSS233 | 12/3/23 | <a href="https://github.com/Amnesiac9" title="Amnesiac 9 Github"><img class="img-footer" src="~/img/github-sign.png" alt="GitHub" /></a>
            | <a href="https://www.linkedin.com/in/john-moreau-83b996b4/" title="LinkedIn"><img class="img-footer" src="~/img/linkedin.png" alt="LinkedIn" /></a>
            <br />
            <a class="text-muted" href="https://www.flaticon.com/free-icons/linkedin" title="icons">icons created by riajulislam and Dave Gandy - Flaticon</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>